appdirs==1.4.3
httplib2==0.10.3
oauth2==1.9.0.post1
packaging==16.8
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.14
social-auth-app-django==1.1.0
social-auth-core==1.2.0
unicorn==1.0.0
whitenoise==3.3.0
dj-database-url==0.4.0
psycopg2==2.6.1
defusedxml==0.4.1
Django==1.9.5
gunicorn==19.4.5
oauthlib==1.0.3
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
